<div class="row">
  <div class="col-6 offset-3">
    <h1>Barbell</h1>
    <p>A barbell is a piece of exercise equipment used in weight training, bodybuilding, weightlifting and powerlifting, consisting of a long bar, usually with weights attached at each end.</p>
    <a href="/equipment/1/edit">Edit equipment details</a>
  </div>
</div>
