<div class="row">
    <div class="col-6 offset-3">
        <form action="/equipment/<%= locals.equipment.equipmentID %>/edit" method="post" class="validated-form">
            <div class="mb-3">
                <h1>Edit Equipment</h1>
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= locals.equipment.name %>"
                    required>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">Edit equipment</button>
            </div>
        </form>
    </div>
</div>