<div class="row">
    <div class="col-6 offset-3">
        <form action="/equipment/1/edit" method="post" class="validated-form">
            <div class="mb-3">
                <h1>Edit Equipment</h1>
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" value="Barbell" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description">A barbell is a piece of exercise equipment used in weight training, bodybuilding, weightlifting and powerlifting, consisting of a long bar, usually with weights attached at each end.</textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Edit equipment</button>
            </div>
        </form>
    </div>
</div>