
<div class="row">
  <div class="col-6 offset-3">
    <h1>Equipment Index</h1>

    <a class="btn btn-primary" href="/equipment/new">New Equipment</a>

    <ul>
      <li>
        <a href="/equipment/1">Barbell</a>
      </li>
      <li>
        <a href="/equipment/2">Dumbell</a>
      </li>
    </ul>
  </div>
</div>
