<div class="row">
  <div class="col-6 offset-3">
    <h1>Equipment Index</h1>

    <a class="btn btn-primary" href="/equipment/new">New Equipment</a>

    <ul>
      <% if(locals.equipment.length> 0) { %>
        <% locals.equipment.forEach((equipment)=> { %>
          <li>
            <a href="/equipment/<%= equipment.equipmentID %>">
              <%= equipment.name %>
            </a>
          </li>
          <% }); %>
            <% } else { %>
              <p>No equipment found</p>
              <% } %>
    </ul>
  </div>
</div>