<div class="row">
  <div class="col-6 offset-3">
    <h1>Workout</h1>
    <p>July 18th, 2021</p>
    <a href="/workouts/1/edit">Edit workout details</a>
    
    <div class="mb-3">
      <select class="form-select form-select-lg mb-3" aria-label="Add Exercise" id="add-exercise">
        <option selected>Add an exercise</option>
        <option value="3">Leg Press</option>
        <option value="4">Push Up</option>
      </select>
      <form id="add-exercise" action="/workouts/1/exercises" method="post">
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
    <a href="/exercises/new">Create new exercise</a>
  
    <h3>Exercises:</h3>

    <ul>
      <!-- These remove buttons will have to call a function to delete the relationship
      and then remove the li -->
      <li><a href="/exercises/1">Bench Press</a> <button type="button" class="btn btn-danger" name="remove-exercise" id="1">Remove</button></li>
      <li><a href="/exercises/2">Shoulder Press</a> <button type="button" class="btn btn-danger" name="remove-exercise" id="2">Remove</button></li>
    </ul>
  </div>
</div>
