<h1>Workouts Index</h1>

<a class="btn btn-primary" href="/workouts/new">New Workout</a>

<ul>
  <li>
    <a href="/workouts/1">Workout 1</a>
  </li>
  <li>
    <a href="/workouts/2">Workout 2</a>
  </li>
  <li>
    <a href="/workouts/3">Workout 3</a>
  </li>
</ul>