<div class="row">
  <div class="col-6 offset-3">
    <h1>Workouts Index</h1>

    <a class="btn btn-primary" href="/workouts/new">New Workout</a>

    <ul>
      <% if(locals.workouts.length > 0) { %>
        <% locals.workouts.forEach((workout) => { %>
          <li>
            <a href="/workouts/<%= workout.workoutID %>">
              <%= workout.date + ' - ' + workout.firstName + ' ' + workout.lastName + ' ' + workout.email %>
            </a>
          </li>
        <% }); %>
      <% } else { %>
        <p>No workouts found</p>
      <% } %>
    </ul>
  </div>
</div>
