<div class="row">
  <div class="col-6 offset-3">
    <h1>Welcome to Workout App!</h1>
    
    <h3>Manage Data</h3>
    <ul class="list-group">
      <li><a href="/users">Users</a></li>
      <li><a href="/workouts">Workouts</a></li>
      <li><a href="/exercises">Exercises</a></li>
      <li><a href="/equipment">Equipment</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </div>
</div>

