
<div class="row">
    <div class="col-6 offset-3">
        <h1>Search Results</h1>
        <p>Category: Exercises</p>
        <p>Search term: press</p>
        
        <ul>
            <li><a href="/exercises/1">Bench Press</a></li>
            <li><a href="/exercises/2">Shoulder Press</a></li>
        </ul>
    </div>
</div>
