<div class="row">
  <div class="col-6 offset-3">
    <form action="/sign-in" method="post" class="validated-form">
      <div class="mb-3">
        <h1>Sign in</h1>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email address</label>
        <input calss="form-control" type="email" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
    <a href="/sign-up">Sign up</a>
  </div>
</div>

