<div class="row">
    <div class="col-6 offset-3">
        <form action="/categories/<%= locals.categories.categoryID %>/edit" method="post" class="validated-form">
            <div class="mb-3">
                <h1>Edit Category</h1>
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= locals.categories.name %>"
                    required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>