<div class="row">
  <div class="col-6 offset-3">
    <h1>Category Index</h1>

    <a class="btn btn-primary" href="/categories/new">New Category</a>

    <ul>
      <% if(locals.categories.length> 0) { %>
        <% locals.categories.forEach((category)=> { %>
          <li>
            <a href="/categories/<%= category.categoryID %>">
              <%= category.name %>
            </a>
          </li>
          <% }); %>
            <% } else { %>
              <p>No category found</p>
              <% } %>
    </ul>
  </div>
</div>