<div class="row">
  <div class="col-6 offset-3">
    <h1>Exercises Index</h1>

    <a class="btn btn-primary" href="/exercises/new">New Exercise</a>

    <ul>
      <li>
        <a href="/exercises/1">Bench Press</a>
      </li>
      <li>
        <a href="/exercises/2">Leg Press</a>
      </li>
      <li>
        <a href="/exercises/3">Push Up</a>
      </li>
    </ul>
  </div>
</div>
