<div class="row">
  <div class="col-6 offset-3">
    <h1>Exercises Index</h1>

    <a class="btn btn-primary" href="/exercises/new">New Exercise</a>

    <ul>
      <% if(locals.exercises.length > 0) { %>
        <% locals.exercises.forEach((exercise) => { %>
          <li>
            <a href="/exercises/<%= exercise.exerciseID %>">
              <%= exercise.name %>
            </a>
          </li>
        <% }); %>
      <% } else { %>
        <p>No exercises found</p>
      <% } %>
    </ul>
  </div>
</div>
